    .hidden {
        display: none;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        width: 100%;
        margin: 0;
        background: #142052;
    }
    
    main {
        margin: 0 auto;
        font-family: Noto Sans CJK JP;
        box-sizing: border-box;
    }
    
    .main__container {
        display: flex;
        flex-direction: column;
        .input {
            position: relative;
            background: #F7F7F7;
            padding: 20px 21px 500px 20px;
            & {
                box-shadow: 0px 3px 6px #B2B2B229;
            }
        }
    }